Os dados devem estar extraídos no caminho data/


Link para download dos dados (recursos)

https://dados.gov.br/dados/conjuntos-dados/cadastro-nacional-da-pessoa-jurdica---cnpj

In [2]:
import pandas as pd
import os
import glob

### Filtra dados úteis dos estabelecimentos e coloca no padrão para leitura

In [2]:
paths = ['data/Estabelecimentos{i}/*'.format(i=i) for i in range(10)]

for i, path in enumerate(paths):
    
    files = glob.glob(path)
    print(files)

    df = pd.read_csv("{file}".format(path=path, file=files[0]), sep=';',encoding = "ISO-8859-1", header=None)

    df.columns = ['CNPJ BÁSICO', 'CNPJ ORDEM', 'CNPJ DV', 'IDENTIFICADOR MATRIZ/FILIAL', 'NOME FANTASIA', 'SITUAÇÃO CADASTRAL', 
                                                                                                                     'DATA SITUAÇÃO CADASTRAL', 'MOTIVO SITUAÇÃO CADASTRAL', 'NOME DA CIDADE NO EXTERIOR', 'PAIS', 'DATA DE INÍCIO ATIVIDADE', 'CNAE FISCAL PRINCIPAL', 
                                                                                                                     'CNAE FISCAL SECUNDÁRIA', 'TIPO DE LOGRADOURO', 'LOGRADOURO', 'NÚMERO', 'COMPLEMENTO', 'BAIRRO', 'CEP', 'UF', 'MUNICÍPIO', 'DDD 1', 'TELEFONE 1','DDD 2', 'TELEFONE 2', 
                                                                                                                     'DDD DO FAX', 'FAX', 'CORREIO ELETRÔNICO', 'SITUAÇÃO ESPECIAL', 'DATA DA SITUAÇÃO ESPECIAL']
    colunas_uteis = ['CNPJ BÁSICO', 'CNPJ ORDEM', 'CNPJ DV', 'IDENTIFICADOR MATRIZ/FILIAL', 'SITUAÇÃO CADASTRAL', 'DATA SITUAÇÃO CADASTRAL', 'DATA DE INÍCIO ATIVIDADE', 'CNAE FISCAL PRINCIPAL', 'UF']

    df[df['UF']=='MG'][colunas_uteis].to_csv("data/Estabelecimentos_MG{i}.csv".format(i=i), index=False)

['data/Estabelecimentos0\\K3241.K03200Y0.D30114.ESTABELE']

C:\Users\leand\anaconda3\envs\botenv\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (8,18,21,22,24,26,28) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

['data/Estabelecimentos1\\K3241.K03200Y1.D30114.ESTABELE']

C:\Users\leand\anaconda3\envs\botenv\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (8,21,22,24,26,28) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

['data/Estabelecimentos2\\K3241.K03200Y2.D30114.ESTABELE']
['data/Estabelecimentos3\\K3241.K03200Y3.D30114.ESTABELE']

C:\Users\leand\anaconda3\envs\botenv\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (8,21,22,24,25,26,28) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

['data/Estabelecimentos4\\K3241.K03200Y4.D30114.ESTABELE']
['data/Estabelecimentos5\\K3241.K03200Y5.D30114.ESTABELE']
['data/Estabelecimentos6\\K3241.K03200Y6.D30114.ESTABELE']
['data/Estabelecimentos7\\K3241.K03200Y7.D30114.ESTABELE']
['data/Estabelecimentos8\\K3241.K03200Y8.D30114.ESTABELE']
['data/Estabelecimentos9\\K3241.K03200Y9.D30114.ESTABELE']

#### Função para converter e filtrar outros dados

In [3]:
def convert_files(paths, df_columns, useful_columns, output_name):

    for i, path in enumerate(paths):

        files = glob.glob(path)
        print(files)

        df = pd.read_csv("{file}".format(path=path, file=files[0]), sep=';',encoding = "ISO-8859-1", header=None)

        df.columns = df_columns

        columns_uteis = useful_columns
        df[columns_uteis].to_csv("data/{output_name}{i}.csv".format(output_name=output_name,i=i), index=False)

convert_files(paths=['data/Empresas{i}/*'.format(i=i) for i in range(10)], df_columns=['cnpj', 'razao social', 'NATUREZA', 'QUALIFICAÇÃO', 'CAPITAL', 'PORTE', 'ENTE'], useful_columns=['cnpj', 'NATUREZA', 'QUALIFICAÇÃO', 'CAPITAL', 'PORTE'], output_name='Empresas')

In [17]:
convert_files(paths=['data/Naturezas/*'], df_columns=['codigo', 'Natureza Juridica'], useful_columns=['codigo', 'Natureza Juridica'], output_name='Naturezas')

['data/Naturezas\\F.K03200$Z.D30114.NATJUCSV']

In [27]:
convert_files(paths=['data/Cnaes/*'], df_columns=['CODIGO', "NOME DA ATIVIDADE ECONÔMICA"], useful_columns=['CODIGO', "NOME DA ATIVIDADE ECONÔMICA"], output_name='Cnaes')

['data/Cnaes\\F.K03200$Z.D30114.CNAECSV']

In [4]:
convert_files(paths=['data/Qualificacoes/*'], df_columns=['CODIGO', 'NOME DA QUALIFICAÇÃO DO SÓCIO'], useful_columns=['CODIGO', 'NOME DA QUALIFICAÇÃO DO SÓCIO'], output_name='Qualificacoes')

['data/Qualificacoes\\F.K03200$Z.D30211.QUALSCSV']

Processa dados das empresas

É necessário juntar os 10 arquivos em um só

In [18]:
def concat_files(files_name, output_name):
    df = pd.read_csv(files_name[0], sep=',')

    # Loop por todos os arquivos CSV restantes e os concatena ao dataframe df
    for file in files_name[1:]:
        print(file)
        df = pd.concat([df, pd.read_csv(file, sep=',')], ignore_index=True)

    # Salva o dataframe resultante como um arquivo CSV
    df.to_csv('data/{output_name}.csv'.format(output_name=output_name), index=False)
files= ['data/Empresas0.csv',
 'data/Empresas1.csv',
 'data/Empresas2.csv',
 'data/Empresas3.csv',
 'data/Empresas4.csv',
 'data/Empresas5.csv',
 'data/Empresas6.csv',
 'data/Empresas7.csv',
 'data/Empresas8.csv',
 'data/Empresas9.csv']
concat_files(files, 'Empresas')

data/Empresas1.csv
data/Empresas2.csv
data/Empresas3.csv
data/Empresas4.csv
data/Empresas5.csv
data/Empresas6.csv
data/Empresas7.csv
data/Empresas8.csv
data/Empresas9.csv

In [19]:
files= ['data/Estabelecimentos_MG0.csv',
 'data/Estabelecimentos_MG1.csv',
 'data/Estabelecimentos_MG2.csv',
 'data/Estabelecimentos_MG3.csv',
 'data/Estabelecimentos_MG4.csv',
 'data/Estabelecimentos_MG5.csv',
 'data/Estabelecimentos_MG6.csv',
 'data/Estabelecimentos_MG7.csv',
 'data/Estabelecimentos_MG8.csv',
 'data/Estabelecimentos_MG9.csv']

concat_files(files, 'Estabelecimentos')

data/Estabelecimentos_MG1.csv
data/Estabelecimentos_MG2.csv
data/Estabelecimentos_MG3.csv
data/Estabelecimentos_MG4.csv
data/Estabelecimentos_MG5.csv
data/Estabelecimentos_MG6.csv
data/Estabelecimentos_MG7.csv
data/Estabelecimentos_MG8.csv
data/Estabelecimentos_MG9.csv

Com os arquivos devidamente convertidos e tratados podemos realizar a leitura

In [29]:
df_estab = pd.read_csv("data/Estabelecimentos.csv", sep=',')
df_empresas = pd.read_csv("data/Empresas.csv", sep=',')
df_naturezas = pd.read_csv("data/Naturezas0.csv", sep=',')
df_cnaes = pd.read_csv("data/Cnaes0.csv", sep=',')

In [21]:
df_estab

,CNPJ BÁSICO,CNPJ ORDEM,CNPJ DV,IDENTIFICADOR MATRIZ/FILIAL,SITUAÇÃO CADASTRAL,DATA SITUAÇÃO CADASTRAL,DATA DE INÍCIO ATIVIDADE,CNAE FISCAL PRINCIPAL,UF
0,35464865,1,93,1,4,20220125,20191109,8230001,MG
1,35464962,1,86,1,4,20221121,20191109,4399103,MG
2,35465399,1,60,1,8,20201022,20191109,4520002,MG
3,35465446,1,76,1,2,20191109,20191109,9602501,MG
4,35465492,1,75,1,2,20191109,20191109,7739002,MG
...,...,...,...,...,...,...,...,...,...
6017106,35463889,1,28,1,8,20220218,20191108,4929901,MG
6017107,35464286,1,40,1,2,20191109,20191109,9602502,MG
6017108,35464354,1,71,1,2,20191109,20191109,5611203,MG
6017109,26313681,1,31,1,8,20191119,20161007,7420001,MG
6017110,35464609,1,4,1,4,20220209,20191109,4321500,MG

In [22]:
df_empresas_estab_mg = df_empresas.merge(df_estab, left_on="cnpj", right_on="CNPJ BÁSICO", how='inner')
df_empresas_estab_mg = df_empresas_estab_mg.drop_duplicates(subset=['cnpj'], keep='first')
df_empresas_estab_mg['DATA DE INÍCIO ATIVIDADE'] = df_empresas_estab_mg['DATA DE INÍCIO ATIVIDADE'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))
df_empresas_estab_mg['DATA SITUAÇÃO CADASTRAL'] = df_empresas_estab_mg['DATA SITUAÇÃO CADASTRAL'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d', errors='coerce'))

In [23]:
df_empresas_estab_mg

,cnpj,NATUREZA,QUALIFICAÇÃO,CAPITAL,PORTE,CNPJ BÁSICO,CNPJ ORDEM,CNPJ DV,IDENTIFICADOR MATRIZ/FILIAL,SITUAÇÃO CADASTRAL,DATA SITUAÇÃO CADASTRAL,DATA DE INÍCIO ATIVIDADE,CNAE FISCAL PRINCIPAL,UF
0,41273709,2135,50,"12000,00",1.0,41273709,1,48,1,2,2021-03-18,2021-03-18,4929901,MG
1,41273730,2135,50,"1000,00",1.0,41273730,1,43,1,2,2021-03-18,2021-03-18,4929901,MG
2,41273737,2135,50,"1000,00",1.0,41273737,1,65,1,3,2022-02-01,2021-03-18,7319002,MG
3,41273747,2135,50,"5000,00",1.0,41273747,1,9,1,2,2021-03-18,2021-03-18,3832700,MG
4,41273748,2135,50,"6000,00",1.0,41273748,1,45,1,8,2022-05-04,2021-03-18,5611201,MG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6017106,41273531,2135,50,"1000,00",1.0,41273531,1,35,1,8,2022-01-12,2021-03-18,4763603,MG
6017107,41273532,2135,50,"5000,00",1.0,41273532,1,80,1,2,2021-03-18,2021-03-18,4930201,MG
6017108,41273551,2135,50,"10000,00",1.0,41273551,1,6,1,8,2021-09-23,2021-03-18,4723700,MG
6017109,41273563,2062,49,"20000,00",1.0,41273563,1,30,1,2,2021-03-18,2021-03-18,8211300,MG
6017110,41273578,2135,50,"1,00",1.0,41273578,1,7,1,2,2021-03-18,2021-03-18,9521500,MG

In [24]:
df_empresas_estab_mg.to_csv("data/df_empresas_estab_mg.csv", index=False)

In [25]:
df_empresas_estab_mg

,cnpj,NATUREZA,QUALIFICAÇÃO,CAPITAL,PORTE,CNPJ BÁSICO,CNPJ ORDEM,CNPJ DV,IDENTIFICADOR MATRIZ/FILIAL,SITUAÇÃO CADASTRAL,DATA SITUAÇÃO CADASTRAL,DATA DE INÍCIO ATIVIDADE,CNAE FISCAL PRINCIPAL,UF
0,41273709,2135,50,"12000,00",1.0,41273709,1,48,1,2,2021-03-18,2021-03-18,4929901,MG
1,41273730,2135,50,"1000,00",1.0,41273730,1,43,1,2,2021-03-18,2021-03-18,4929901,MG
2,41273737,2135,50,"1000,00",1.0,41273737,1,65,1,3,2022-02-01,2021-03-18,7319002,MG
3,41273747,2135,50,"5000,00",1.0,41273747,1,9,1,2,2021-03-18,2021-03-18,3832700,MG
4,41273748,2135,50,"6000,00",1.0,41273748,1,45,1,8,2022-05-04,2021-03-18,5611201,MG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6017106,41273531,2135,50,"1000,00",1.0,41273531,1,35,1,8,2022-01-12,2021-03-18,4763603,MG
6017107,41273532,2135,50,"5000,00",1.0,41273532,1,80,1,2,2021-03-18,2021-03-18,4930201,MG
6017108,41273551,2135,50,"10000,00",1.0,41273551,1,6,1,8,2021-09-23,2021-03-18,4723700,MG
6017109,41273563,2062,49,"20000,00",1.0,41273563,1,30,1,2,2021-03-18,2021-03-18,8211300,MG
6017110,41273578,2135,50,"1,00",1.0,41273578,1,7,1,2,2021-03-18,2021-03-18,9521500,MG

In [30]:
df_naturezas

    codigo                                  Natureza Juridica
0        0                    Natureza Jurídica não informada
1     3271         Órgão de Direção Local de Partido Político
2     3280              Comitê Financeiro de Partido Político
3     3298               Frente Plebiscitária ou Referendária
4     3301                            Organização Social (OS)
..     ...                                                ...
85    3255      Órgão de Direção Nacional de Partido Político
86    3263      Órgão de Direção Regional de Partido Político
87    5037              Outras Instituições Extraterritoriais
88    3328  Plano de Benefícios de Previdência Complementa...
89    8885                    Natureza Jurídica não informada

[90 rows x 2 columns]

In [32]:
df_cnaes

       CODIGO                        NOME DA ATIVIDADE ECONÔMICA
0      111301                                   Cultivo de arroz
1      111302                                   Cultivo de milho
2      111303                                   Cultivo de trigo
3      111399  Cultivo de outros cereais não especificados an...
4      112101                        Cultivo de algodão herbáceo
...       ...                                                ...
1354  9609208      Higiene e embelezamento de animais domésticos
1355  9609299  Outras atividades de serviços pessoais não esp...
1356  9700500                                Serviços domésticos
1357  9900800  Organismos internacionais e outras instituiçõe...
1358  8888888                  Atividade Econônica não informada

[1359 rows x 2 columns]